@model List<Catagory>

<h1>Catagories List (@Model.Count)</h1>

@if (@TempData["Message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["Message"]</strong>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


@*<a class="btn btn-primary"   href="/Catagories/Create">Create</a>
<br />
@Html.ActionLink("Create Catagory","Create","Catagories", null,new { @class="btn btn-primary"})
<br />*@
<a asp-action="Create" asp-controller="Catagories" class="btn btn-primary">Create Catagory</a>
<br />

<form asp-action="List" asp-controller="Catagories">

    <input type="text" name="searchTerm" placeholder="Enter text to search" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>



<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <td>Catagory ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
       {
            <tr>

            <td> @cat.CatagoryID </td>
            <td> @cat.CatagoryName </td>
            <td> @cat.Description </td>
            <td> 

                @*<a href="/Catagories/Delete?id=@cat.CatagoryID">Delete</a>*@
                <a asp-action=Delete asp-controller=Catagories asp-route-id=@cat.CatagoryID class="btn btn-danger">Delete</a>
                 <a asp-action=Edit asp-controller=Catagories asp-route-id=@cat.CatagoryID class="btn btn-primary">Edit</a>
            </td>

        </tr>
       }
    </tbody>
</table>

